@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Asset&family=BBH+Bartle&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tektur:wght@400..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor-muito-clara);
}
:root{
  --cor-escura: #2a0308;
  --cor-média: #924f1b;
  --cor-clara: #e2ac3f;
  --cor-muito-clara: #cab789;
  --outra-cor: #7ba58d;
}
body{
  line-height: 1.5em;
}
header{
  min-width: 200px;
  max-width: 98vw;
  min-height: 200px;
  color: var(--cor-muito-clara);
  background-color: #131313;
  display: flex;
  flex-flow: column wrap;
  justify-content: end;
  align-items: center;
}
#imaDoPort{
  min-width: 76vw;
  max-width: 96vw;
  height: 44vh;
  flex: auto;
  align-self: center ;
  background-color: #f8f4f4;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(imagens/Gemini_Generated_Image_ec7y54ec7y54ec7y.jpg);
}
nav#menu{
  position: sticky;
  top: 0px;
  background-color: #131313;
  border-bottom: 1px solid #cab789;
}
nav#menu li{
  background-color: #131313;
}
nav#menu ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-position: left center;
  background-color: #131313;
}
nav#menu button{
  font-size: 1.5em;
  font-family: Tektur;
  cursor: pointer;
  border-radius: 50vh;
  border: 2px solid #cab789;
  font-size: 1.1em;
  background-color: #131313;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 15px;
  transition-duration: 0.5s;
  color: var(--cor-muito-clara);
  margin: 5px;
  transition-duration: 1s;
}
nav#menu button:hover{
  transition-duration: 1s;
  background-color: #cab789;
  border: 2px solid #3d3d3d;
  color: #131313;
}
#fot{
  margin: auto;
  background-image: url(imagens/foto-midia-so\(editada\).jpg);
  border-radius: 50vh;
  width: 55vw;
  height: 55vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#campdafot{
  margin-top: 55px;
  margin: auto;
  width: 55vw;
  height: 55vw;
  border-radius: 50vh;
  border: 5px solid #2b2b2b;
  align-self: flex-start;
}
#divflex{
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  display: flex;
  width: 97vw;
  height: 70vh;
  margin: auto;
}
article{
  line-height: 1.7em;
  background-color: var(--cor-muito-clara);
  margin-bottom: 10px;
}
article>h2{
  margin-top: 25px;
  line-height: 1.9em;
  background-color: #00000073;
  padding: 15px;
  border-top: 1px solid #13131385;
  font-family: Nunito;
  font-weight: 800;
}
article>p{
  font-family: Nunito;
  background-color: #0000002d;
  text-align: justify;
  min-width: 200px;
  max-width: 600px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#fintext{
  border-bottom: 1px solid #131313;
}
#fintext2{
  border-bottom: 1px solid #131313;
}
#asid{
  background-color: #131313;
  display: flex;
  flex-flow: column nowrap;
}
#campProj{
  padding: 10px;
  border-right:  1px solid #2b2b2b;
  border-bottom:  1px solid #2b2b2b;
  border-left: 1px solid #2b2b2b;
  padding-top: 20px;
  flex-flow: column nowrap;
  width: 260px;
  height: 220px;
  margin: auto;
  background-color: #131313;
  margin-bottom: 40px;
}
#camp{
  background-image: url(imagens/Captura\ de\ tela\ 2026-08-27\ 012340.png);
  width: 250px;
  height: 121px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
#asid>h1{
  font-size: 2.2em;
  line-height: 30px;
  font-family: Tektur;
  border-top: 1px solid #13131381;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: #cab68994;
}
#campProj>a, #campProj2>a, #campProj3>a{
  text-decoration: none;
  border-radius: 50vh;
  border: 1px solid #cab789;
  text-align: center;
  background-color: #131313;
  color: #cab789;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 1s;
  font-family: Tektur;
}
#campProj>a:hover, #campProj2>a:hover, #campProj3>a:hover{
  transition-duration: 1s;
  background-color: #cab789;
  border: 2px solid #3d3d3d;
  color: #131313;
}
#campProj>p, #campProj2>p, #campProj3>p{
  background-color: #131313;
  padding-left: 10px;
  color: #cab789;
  padding-top: 20px;
  font-family: Tektur;
}

#campProj2{
  margin-top: 10px;
  padding: 10px;
  border-right:  1px solid #2b2b2b;
  border-bottom:  1px solid #2b2b2b;
  border-left: 1px solid #2b2b2b;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 260px;
  height: 360px;
  background-color: #131313;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#camp2{
  margin: auto;
  background-image: url(imagens/Captura\ de\ tela\ 2026-08-27\ 012533.png);
  width: 250px;
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #131313;
}
#campProj3{
  padding: 10px;
  border-right:  1px solid #2b2b2b;
  border-bottom:  1px solid #2b2b2b;
  border-left: 1px solid #2b2b2b;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 260px;
  height: 310px;
  background-color: #131313;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
#camp3{
  margin: auto;
  background-image: url(imagens/Captura\ de\ tela\ 2026-08-27\ 012656.png);
  width: 250px;
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #131313;
}
#campTech{
  width: 260px;
  height: 850px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #131313;
}
#tech1{
  background-color: #fff;
  width: 220px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 30px;
  border: 3px solid #808080;
}
#asid>h1{
  margin-bottom: 20px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #6e6e6e;
  background-color: #cab689bd;
}
#tech1>div{
  background-image: url(imagens/HTML.jpg);
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #131313;
  margin: auto;
}
#tech2{
  margin-top: 30px;
  background-color: #fff;
  width: 220px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 30px;
  border: 3px solid #808080;
}
#tech2>div{
  background-image: url(imagens/JavaScript\ Badge\ with\ JS\ text.jpg);
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin: auto;
}
#tech3{
  background-color: #fff;
  width: 220px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 30px;
  border: 3px solid #808080;
  margin-top: 30px;
}
#tech3>div{
  background-image: url(imagens/Css\ 3\ ícones\ gratuitos\ criados\ por\ Magnific.jpg);
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin: auto;
}
aside{
  margin-top: 30px;
}
aside>h1{
  font-family: Tektur;
  background-color: #0000005d;
  padding: 10px;
  padding-left: 30px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000;
}
aside>p{
  padding: 10px;
  padding-left: 40px;
  background-color: #00000027;
}
footer{
  border-top: 2px solid #cab68986;
  background-color: #1b1f23;
}
footer>p{
  text-align: center;
  background-color: #cab6891e;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
  color: #cab689b6;
}
footer>div{
  border-bottom: 2px solid #cab68993;
  border-top: 2px solid #cab68993;
  background-color: #1b1f23;
}
footer>div>a{
  background-color: #1b1f23;
}
img{
  display: block;
  margin: auto;
  background-color: #1b1f23;
  width: 100px;
  height: 100px;
}
#fimtxt{
  font-size: 1em;
  color: #cab68993;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 0px;
  text-align: center;
  background-color: #cab68957;
}
